<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Seleccione el vehículo</ion-title>
    
    <ion-buttons end>
        <button ion-button icon-only (click)="salir()">
            <ion-icon name="close-circle" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
      <button ion-item *ngFor="let unidad of unidades" (click)="showOptions(unidad)">
        {{unidad.nombre}}
        <ion-icon name="car" item-end></ion-icon>
      </button>
    </ion-list>
    <div *ngIf="elementoSeleccionado" padding>
      You navigated here from <b>{{elementoSeleccionado.nombre}}</b>
    </div>
	<ion-list >
	  <ion-item class="item-icon-left">
		<i class="icon ion-email"></i>
		<b>Placas:</b> {{placas}}
	  </ion-item>

	  <ion-item class="item-icon-left item-icon-right">
		<i class="icon ion-chatbubble-working"></i>
		<b>Vin:</b> {{vin}}
		<i class="icon ion-ios-telephone-outline"></i>
	  </ion-item>

	  <ion-item class="item-icon-left">
		<i class="icon ion-mic-a"></i>
		<b>Modelo:</b> {{modelo}}
	  </ion-item>

	  <ion-item class="item-icon-left">
		<i class="icon ion-person-stalker"></i>
		<b>Marca:</b> {{nombreMarca}}
	  </ion-item>
	  
	</ion-list>
  
  <ion-list *ngIf="idEstatus != null">

        <ion-item>
          <ion-label color="primary"> 
              {{ numeroOrden }}
          </ion-label>
          <ion-label color="primary" item-end> 
              {{ fechaCita | date }}
          </ion-label>
        </ion-item>
       
        <button [disabled]="idEstatus != 1" ion-item>
            Nueva Sin Taller
            <ion-icon *ngIf="idEstatus > 1" name="checkmark" item-end></ion-icon>
            <ion-icon *ngIf="idEstatus == 1" name="arrow-dropleft-circle" item-end></ion-icon>
        </button>
        <button [disabled]="idEstatus != 2" ion-item>
            Nueva Con Taller
            <ion-icon *ngIf="idEstatus > 2" name="checkmark" item-end></ion-icon>
            <ion-icon *ngIf="idEstatus == 2" name="arrow-dropleft-circle" item-end></ion-icon>
          </button>
          <button [disabled]="idEstatus != 3" ion-item>
              En Taller
              <ion-icon *ngIf="idEstatus > 3" name="checkmark" item-end></ion-icon>
              <ion-icon *ngIf="idEstatus == 3" name="arrow-dropleft-circle" item-end></ion-icon>
            </button>
            <button [disabled]="idEstatus != 4" ion-item>
                Término Trabajo
                <ion-icon *ngIf="idEstatus > 4" name="checkmark" item-end></ion-icon>
                <ion-icon *ngIf="idEstatus == 4" name="arrow-dropleft-circle" item-end></ion-icon>
              </button>
              <button [disabled]="idEstatus != 5" ion-item (click)="calificar()">
                  Entrega
                  <ion-icon *ngIf="idEstatus == 5" color="primary" name="star" item-end></ion-icon>
                  <ion-icon *ngIf="idEstatus == 5" color="primary" name="star" item-end></ion-icon>
                  <ion-icon *ngIf="idEstatus == 5" color="primary" name="star" item-end></ion-icon>
                  <ion-icon *ngIf="idEstatus == 5" color="primary" name="star" item-end></ion-icon>
                  <ion-icon *ngIf="idEstatus == 5" color="primary" name="star" item-end></ion-icon>
                </button>
      </ion-list>

  </ion-content>
  <ion-footer text-center class="pie">
      <ion-icon name="call" class="color-icono"></ion-icon>
      <button ion-button (click)="llamarCallCenter()" class="register-btn" type="button" block clear>
        Llamar al call center.
      </button>
    </ion-footer>