<ion-header>

  <ion-navbar>
    <ion-title>Control documental</ion-title>
    <ion-buttons end>
            <button ion-button icon-only (click)="salir()">
                <ion-icon name="close-circle" ></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-row>
		<ion-col>
			<ion-card text-center>
				<div class="card-title" class="tituloArchivo">Placas</div>
				<ion-row><ion-col>
					<ion-icon color="secondary" class="archivo" (click)="descargar(documento.placas)" name="image"></ion-icon>
				</ion-col><ion-col><ion-icon color="secondary" class="vencimientoH" name="calendar"></ion-icon><div class="card-title" class="pieArchivo"></div></ion-col></ion-row>
			</ion-card>
		</ion-col>		
		<ion-col>
			<ion-card text-center>
				<div class="card-title">Tenencia o refrendo</div>
				<ion-row>
					<ion-col>
						<ion-icon color="secondary" class="archivo" (click)="descargar(documento.Tenencia)" name="image"></ion-icon>
					</ion-col>	
					<ion-col>  		
						<ion-icon *ngIf="documento.fechaVigenciaTenenciaVencida == 0"  color="danger" class="vencimiento" name="calendar"></ion-icon>
						<ion-icon *ngIf="documento.fechaVigenciaTenenciaVencida == 1"  color="secondary" class="vencimiento" name="calendar"></ion-icon>
					<div class="card-title" class="pieArchivo">Vigencia: 
							{{documento.fechaVigenciaTenencia}}
						</div>
					</ion-col>
				</ion-row>
			</ion-card>
		</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
			<ion-card text-center>
				<div class="card-title">Verificación</div>
				<ion-row>
					<ion-col>
						<ion-icon *ngIf="documento.fechaVerificacionVencida == 0" color="danger"  class="archivo" (click)="descargar(documento.Verificacion)" name="image"></ion-icon>
						<ion-icon *ngIf="documento.fechaVerificacionVencida == 1" color="secondary"  class="archivo" (click)="descargar(documento.Verificacion)" name="image"></ion-icon>
					</ion-col>	
					<ion-col>  		
						<ion-icon *ngIf="documento.fechaVerificacionVencida == 0" color="danger" class="vencimiento" name="calendar"></ion-icon>
						<ion-icon *ngIf="documento.fechaVerificacionVencida == 1" color="secondary" class="vencimiento" name="calendar"></ion-icon>
						<div class="card-title" class="pieArchivo">Vigencia: 
							{{documento.fechaVerificacion}}
						</div>
					</ion-col>
				</ion-row>
			</ion-card>
		</ion-col>
		<ion-col>
			<ion-card text-center>
				<div class="card-title">Poliza de seguro</div>
				<ion-row>
					<ion-col>
						<ion-icon *ngIf="documento.fechaVigenciaPolizaSeguroVencida == 0" color="danger" class="archivo" (click)="descargar(documento.PolizaDeSeguros)" name="image"></ion-icon>
						<ion-icon *ngIf="documento.fechaVigenciaPolizaSeguroVencida == 1" color="secondary" class="archivo" (click)="descargar(documento.PolizaDeSeguros)" name="image"></ion-icon>
					</ion-col>	
					<ion-col>  		
						<ion-icon color="secondary" class="vencimiento" name="calendar"></ion-icon>
						<div class="card-title" class="pieArchivo">Vigencia: 
							{{documento.fechaVigenciaPolizaSeguro}}
						</div>
					</ion-col>
				</ion-row>
			</ion-card>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-card text-center>
                <div class="card-title">Tarjeta de circulación</div>
				<ion-row><ion-col>
					<ion-icon color="secondary" class="archivo" (click)="descargar(documento.tarjetaDeCirculacion)" name="image"></ion-icon>
				</ion-col><ion-col><ion-icon color="secondary" class="vencimientoH" name="calendar"></ion-icon><div class="card-title" class="pieArchivo"></div></ion-col></ion-row>
              </ion-card>
		</ion-col>
		<ion-col>
            <ion-card text-center>
                <div class="card-title">Multas</div>
				<ion-row><ion-col>
					<ion-icon color="secondary" class="archivo" name="image"></ion-icon>
				</ion-col><ion-col><ion-icon color="secondary" class="vencimientoH" name="calendar"></ion-icon><div class="card-title" class="pieArchivo"></div></ion-col></ion-row>
              </ion-card>
		</ion-col>
    </ion-row>
    <!-- <a ion-item href="https://www.ionicframework.com">
        Anchor Item
      </a> -->
</ion-content>