page-control-documental {
    .archivo{
        font-size: 70px;
    }
	.vencimiento{
        font-size: 30px;
    }
	.vencimientoH{
        font-size: 30px;
		color: white;
    }
	.pie{
		background-color: #2952a3;
		color: white;
	}
	.pie button{
		color: white;
	}
	.tituloArchivo{
		font-size: 16px;
	}
	.pieArchivo{
		font-size: 10px;
	}
}
