page-buscar-taller {
    #map_canvas{
        display: none;
        height: 0%;
        width: 0%;
      }
      #map{
        display: block;
        height: 45%;
        width: 100%;
      }
    .pie{
        background-color: #2952a3;
        color: white;
    }
    .pie button{
        color: white;
    }
}
