<ion-header>
  <ion-navbar>
    <ion-title>Buscar taller</ion-title>
    <ion-buttons end>
            <button ion-button icon-only (click)="salir()">
                <ion-icon name="close-circle" ></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <!-- <ion-row>
        <ion-col>
            <ion-input type="text" placeholder="Dirección, cololia, ciudad" name="direccion" [(ngModel)]="direccion"></ion-input>
            <button ion-button class="register-btn" (click)="buscarDireccion()" full type="button" *ngIf="direccion != null">Buscar</button>
        </ion-col>
      </ion-row> -->
      
    
    <ion-list>
        <ion-item margin>
            <ion-input type="text" placeholder="Escribe tu dirección"
                (click)="showModal()" 
                [(ngModel)]="address.place">
            </ion-input>
        </ion-item>
        <!-- <ion-item *ngIf="address.set==true">
            <ion-icon name="pin" item-left></ion-icon>
            <h3>Direccion</h3>
            <p>{{ placedetails.address }}</p>
            <h3>Street name</h3>
            <p>{{ placedetails.components.route.long }}</p>
            <h3>Street number</h3>
            <p>{{ placedetails.components.street_number.long }}</p>
            <h3>Neighbourhood</h3>
            <p>{{ placedetails.components.sublocality_level_1.long }}</p>
            <h3>Postal Code</h3>
            <p>{{ placedetails.components.postal_code.long }}{{ placedetails.components.postal_code_suffix.long }}</p>    
            <h3>City</h3>
            <p>{{ placedetails.components.locality.long }}</p>     
            <h3>Location geometry</h3>
            <p>{{ placedetails.lat }}, {{ placedetails.lng }}</p>                                           
        </ion-item> -->
    </ion-list>
    <div id="map"></div>
    <div id="map_canvas"></div>
    <ion-row>
        <ion-col>
            <ion-list>
                <button ion-item *ngFor="let taller of talleres" (click)="showTallerDetalle(taller)">
                    {{taller.nombreComercial}}
                    <div>
                            {{taller.km}}
                        <ion-icon name="star-outline" item-end *ngIf="taller.calificacionTaller < 1"></ion-icon>
                        <ion-icon name="star" color="primary" item-end *ngIf="taller.calificacionTaller >= 1"></ion-icon>
                        <ion-icon name="star-outline" item-end *ngIf="taller.calificacionTaller < 2"></ion-icon>
                        <ion-icon name="star" color="primary" item-end *ngIf="taller.calificacionTaller >= 2"></ion-icon>
                        <ion-icon name="star-outline" item-end *ngIf="taller.calificacionTaller < 3"></ion-icon>
                        <ion-icon name="star" color="primary" item-end *ngIf="taller.calificacionTaller >= 3"></ion-icon>
                        <ion-icon name="star-outline" item-end *ngIf="taller.calificacionTaller < 4"></ion-icon>
                        <ion-icon name="star" color="primary" item-end *ngIf="taller.calificacionTaller >= 4"></ion-icon>
                        <ion-icon name="star-outline" item-end *ngIf="taller.calificacionTaller < 5"></ion-icon>
                        <ion-icon name="star" color="primary" item-end *ngIf="taller.calificacionTaller >= 5"></ion-icon>
                    </div>
                  </button>
              </ion-list>
        </ion-col>
      </ion-row>
</ion-content>

<ion-footer text-center class="pie">
    <ion-icon name="call" class="color-icono"></ion-icon>
    <button ion-button (click)="llamarCallCenter()" class="register-btn" type="button" block clear>
      Llamar al call center.
    </button>
  </ion-footer>
