page-mantenimiento {
#chartdiv{
    width: 100%;
    height: 250px;
}

    .pie{
        background-color: #2952a3;
        color: white;
    }
    .pie button{
        color: white;
    }
    .amcharts-chart-div a {display:none !important;}

    ion-input{
        //width: 20px;
        font-size: 21px;
    }
    
    ion-select {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        max-width: 85%;
    }
}
