<ion-header>

  <ion-navbar>
    <ion-title>Mantenimiento</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="salir()">
            <ion-icon name="close-circle" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content text-center>
    <div id="chartdiv"></div>
    <!-- <ion-grid>
        <ion-row>
          <ion-col col-5>
            <b>Servicios realizados:</b>
          </ion-col>
          <ion-col col-7>
            Ninguno
          </ion-col>
        </ion-row>
        </ion-grid>
        <br> -->
        <ion-item  no-lines>
            <ion-label>Servicios realizados:</ion-label>  
        </ion-item>
        <ion-item  no-lines *ngIf="serviciosHechos == null || serviciosHechos.length <= 0">
            <ion-label>Ninguno</ion-label>  
        </ion-item>
    <ion-item  no-lines *ngIf="serviciosHechos && serviciosHechos.length > 0">
        <ion-label></ion-label>
        <ion-select>
          <ion-option *ngFor="let servicio of serviciosHechos">Servicio {{ servicio.numeroOrden }} (km)</ion-option>
        </ion-select>
    </ion-item>
    <ion-item  no-lines>
        <ion-label>Servicios disponibles:</ion-label>  
    </ion-item>
    <ion-item  no-lines>
        <ion-label></ion-label>
        <ion-select [disabled]="cita.idEstatus != null" [(ngModel)]="servicioSeleccionado">
          <ion-option *ngFor="let servicio of servicios" [value]="servicio">Servicio {{ servicio.Servicio }} (km)</ion-option>
        </ion-select>
    </ion-item>
<br>
      <button [disabled]="servicioSeleccionado == null || servicioSeleccionado == 0" ion-button (click)="confirmarServicio()">Seleccionar</button>

    <!-- <ion-list>
        <button ion-item *ngFor="let servicio of servicios" (click)="showDetalleServicio(servicio)"> 
          Servicio {{servicio.Servicio}} km
          <ion-icon *ngIf="!servicio.aplicado" name="warning" item-end></ion-icon>
        </button>
      </ion-list> -->
</ion-content>
<ion-footer text-center class="pie">
    <ion-icon name="call" class="color-icono"></ion-icon>
    <button ion-button (click)="llamarCallCenter()" class="register-btn" type="button" block clear>
      Llamar al call center.
    </button>
  </ion-footer>