page-option {

    .lista-opciones{
        background-color: #ffffff;
        color: black;
    }
    .lista-opcion{
        background-color: #4675d2;
        color: white;
    }
    .pie{
        background-color: #2952a3;
        color: white;
    }
    .pie button{
        color: white;
    }
}
