<ion-header>
  <ion-navbar>
    <ion-title>Calificar el servicio</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="salir()">
            <ion-icon name="close-circle" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
    <ion-list>
        
          <!-- <ion-list-header  no-lines text-center text-wrap>
            <ion-label>
                Por favor comentanos como te parecio el servicio
            </ion-label>
          </ion-list-header> -->
          
            <ion-item no-lines text-center text-wrap>
              <ion-label color="primary">
                  ¿Te entregaron tu vehiculo en tiempo y forma?
                </ion-label>
            </ion-item>

            <ion-list-header  no-lines text-center text-wrap>
                <ion-icon *ngIf="calificacion.primera >= 1" (click)="calificarPrimera(1)" color="primary" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera < 1" (click)="calificarPrimera(1)" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera >= 2" (click)="calificarPrimera(2)" color="primary" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera < 2" (click)="calificarPrimera(2)" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera >= 3" (click)="calificarPrimera(3)" color="primary" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera < 3" (click)="calificarPrimera(3)" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera >= 4" (click)="calificarPrimera(4)" color="primary" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera < 4" (click)="calificarPrimera(4)" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera == 5" (click)="calificarPrimera(5)" color="primary" name="star"></ion-icon>
                <ion-icon *ngIf="calificacion.primera < 5" (click)="calificarPrimera(5)" name="star"></ion-icon>
              </ion-list-header>

            <ion-item no-lines text-center text-wrap>
                <ion-label color="primary">
                    ¿Como encuentras la calidad del servicio?
                  </ion-label>
              </ion-item>
              <ion-list-header  no-lines text-center text-wrap>
                  <ion-icon *ngIf="calificacion.segunda >= 1" (click)="calificarSegunda(1)" color="primary" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda < 1" (click)="calificarSegunda(1)" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda >= 2" (click)="calificarSegunda(2)" color="primary" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda < 2" (click)="calificarSegunda(2)" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda >= 3" (click)="calificarSegunda(3)" color="primary" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda < 3" (click)="calificarSegunda(3)" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda >= 4" (click)="calificarSegunda(4)" color="primary" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda < 4" (click)="calificarSegunda(4)" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda == 5" (click)="calificarSegunda(5)" color="primary" name="star"></ion-icon>
                  <ion-icon *ngIf="calificacion.segunda < 5" (click)="calificarSegunda(5)" name="star"></ion-icon>
                </ion-list-header>
              <ion-item no-lines text-center text-wrap>
                  <ion-label color="primary">
                      ¿Como encuentras la limpieza del vehiculo?
                    </ion-label>
                </ion-item>
                <ion-list-header  no-lines text-center text-wrap>
                    <ion-icon *ngIf="calificacion.tercera >= 1" (click)="calificarTercera(1)" color="primary" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera < 1" (click)="calificarTercera(1)" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera >= 2" (click)="calificarTercera(2)" color="primary" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera < 2" (click)="calificarTercera(2)" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera >= 3" (click)="calificarTercera(3)" color="primary" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera < 3" (click)="calificarTercera(3)" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera >= 4" (click)="calificarTercera(4)" color="primary" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera < 4" (click)="calificarTercera(4)" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera == 5" (click)="calificarTercera(5)" color="primary" name="star"></ion-icon>
                    <ion-icon *ngIf="calificacion.tercera < 5" (click)="calificarTercera(5)" name="star"></ion-icon>
                  </ion-list-header>
                <ion-item no-lines text-center text-wrap>
                    <ion-label color="primary">
                        ¿Como fue el trato del personal?
                      </ion-label>
                  </ion-item>
                  <ion-list-header  no-lines text-center text-wrap>
                      <ion-icon *ngIf="calificacion.cuarta >= 1" (click)="calificarCuarta(1)" color="primary" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta < 1" (click)="calificarCuarta(1)" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta >= 2" (click)="calificarCuarta(2)" color="primary" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta < 2" (click)="calificarCuarta(2)" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta >= 3" (click)="calificarCuarta(3)" color="primary" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta < 3" (click)="calificarCuarta(3)" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta >= 4" (click)="calificarCuarta(4)" color="primary" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta < 4" (click)="calificarCuarta(4)" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta == 5" (click)="calificarCuarta(5)" color="primary" name="star"></ion-icon>
                      <ion-icon *ngIf="calificacion.cuarta < 5" (click)="calificarCuarta(5)" name="star"></ion-icon>
                    </ion-list-header>
                  <ion-item no-lines text-center text-wrap>
                      <ion-label color="primary">
                          ¿La reparación del vehiculo fue como la solicito?
                        </ion-label>
                    </ion-item>
                    <ion-list-header  no-lines text-center text-wrap>
                        <ion-icon *ngIf="calificacion.quinta >= 1" (click)="calificarQuinta(1)" color="primary" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta < 1" (click)="calificarQuinta(1)" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta >= 2" (click)="calificarQuinta(2)" color="primary" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta < 2" (click)="calificarQuinta(2)" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta >= 3" (click)="calificarQuinta(3)" color="primary" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta < 3" (click)="calificarQuinta(3)" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta >= 4" (click)="calificarQuinta(4)" color="primary" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta < 4" (click)="calificarQuinta(4)" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta == 5" (click)="calificarQuinta(5)" color="primary" name="star"></ion-icon>
                        <ion-icon *ngIf="calificacion.quinta < 5" (click)="calificarQuinta(5)" name="star"></ion-icon>
                      </ion-list-header>
        </ion-list>
<br>
        <button ion-button (click)="calificar()">Calificar</button>
        <button ion-button (click)="agregarEvidencia()">
            <ion-icon name="camera"></ion-icon>
        </button>
</ion-content>

<ion-footer text-center class="pie">
    <ion-icon name="call" class="color-icono"></ion-icon>
    <button ion-button (click)="llamarCallCenter()" class="register-btn" type="button" block clear>
      Llamar al call center.
    </button>
  </ion-footer>