page-califica {
    .pie{
        background-color: #2952a3;
        color: white;
    }
    .pie button{
        color: white;
    }
    ion-icon {
        display: inline-block;
        font-size: 2.2em;
    }
}
